C 0 0 "ON/OFF_CONTROL" 0 0 0 0 60 0 L
X "PIN_TEXT" "ON/OFF_CONTROL" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VIN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VIN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "GROUND_1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "GROUND_1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VOUT" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VOUT" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "SENSE" 0 -400 0 0 60 0 L
X "PIN_TEXT" "SENSE" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "TRIM" 0 -500 0 0 60 0 L
X "PIN_TEXT" "TRIM" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 2200 0 "GROUND_2" 2200 0 0 0 60 0 R
X "PIN_TEXT" "GROUND_2" 1970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 2000 0 2200 0 -1 0
C 2200 -100 "NO_CONNECTION_1" 2200 -100 0 0 60 0 R
X "PIN_TEXT" "NO_CONNECTION_1" 1970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 2000 -100 2200 -100 -1 0
C 2200 -200 "SEQUENCE" 2200 -200 0 0 60 0 R
X "PIN_TEXT" "SEQUENCE" 1970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 2000 -200 2200 -200 -1 0
C 2200 -300 "POWER_GOOD_OUT" 2200 -300 0 0 60 0 R
X "PIN_TEXT" "POWER_GOOD_OUT" 1970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 2000 -300 2200 -300 -1 0
C 2200 -400 "NO_CONNECTION_2" 2200 -400 0 0 60 0 R
X "PIN_TEXT" "NO_CONNECTION_2" 1970 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 2000 -400 2200 -400 -1 0
C 2200 -500 "NO_CONNECTION_3" 2200 -500 0 0 60 0 R
X "PIN_TEXT" "NO_CONNECTION_3" 1970 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 2000 -500 2200 -500 -1 0
L 200 100 2000 100 -1 0
L 2000 -600 2000 100 -1 0
L 2000 -600 200 -600 -1 0
L 200 100 200 -600 -1 0
P "$LOCATION" "?" 2050 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

